In [ ]:
import pandas as pd
import streamlit as st
import plotly.express as px
import altair as alt

In [ ]:
cars = pd.read_csv('/workspaces/sdt_project/vehicles_us.csv')
display(cars, cars.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

None

In [ ]:
cars.groupby('type').size()

type
SUV            12405
bus               24
convertible      446
coupe           2303
hatchback       1047
mini-van        1161
offroad          214
other            256
pickup          6988
sedan          12154
truck          12353
van              633
wagon           1541
dtype: int64

In [ ]:
cars.groupby('condition').size()

condition
excellent    24773
fair          1607
good         20145
like new      4742
new            143
salvage        115
dtype: int64

In [ ]:
cars.groupby('transmission').size()

transmission
automatic    46902
manual        2829
other         1794
dtype: int64

In [ ]:
cars.groupby('fuel').size()

fuel
diesel       3714
electric        6
gas         47288
hybrid        409
other         108
dtype: int64

In [ ]:
cars.groupby('model').size()

model
acura tl             236
bmw x5               267
buick enclave        271
cadillac escalade    322
chevrolet camaro     414
                    ...
toyota sienna        329
toyota tacoma        827
toyota tundra        603
volkswagen jetta     519
volkswagen passat    350
Length: 100, dtype: int64

In [ ]:
cars.groupby('is_4wd').size()

is_4wd
1.0    25572
dtype: int64

In [ ]:
cars['is_4wd'].isna().sum()

25953

In [ ]:
cars.groupby('model').value_counts()

model              price  model_year  condition  cylinders  fuel  odometer  transmission  type   paint_color  is_4wd  date_posted  days_listed
acura tl           6500   2011.0      excellent  6.0        gas   237000.0  automatic     sedan  silver       1.0     2018-06-24   82             1
                   8499   2011.0      excellent  6.0        gas   189000.0  automatic     sedan  grey         1.0     2018-05-24   65             1
                                                                                                                      2018-09-21   39             1
                                                                                                                      2018-12-09   23             1
                                                                                                                      2018-12-11   67             1
                                                                                                                                                 ..
volkswagen passat  1500   2003.0      fair       6.0        gas   157500.0  automatic     sedan  black        1.0     2018-07-29   118            1
                   3200   2004.0      good       6.0        gas   177000.0  automatic     sedan  silver       1.0     2018-07-05   45             1
                   4995   2003.0      excellent  6.0        gas   90321.0   automatic     sedan  grey         1.0     2019-01-26   44             1
                                      good       6.0        gas   90321.0   automatic     sedan  grey         1.0     2018-06-27   6              1
                   11971  2015.0      excellent  4.0        gas   27160.0   automatic     sedan  grey         1.0     2018-08-30   74             1
Name: count, Length: 14852, dtype: int64

In [ ]:
st.header('_Listing duration per condition_')

show_histogram = st.checkbox("Revisualize")

if show_histogram:
        cond_days_hist = px.histogram(
        cars,
        x="condition",
        y="days_listed",
    )
    st.plotly_chart(cars_hist, use_container_width=True)
else:
    cond_days_scatter = px.scatter(
        cars,
        x="type",
        y="price",
        color="price"
    )
    st.plotly_chart(cond_days_scatter, theme="streamlit", use_container_width=True)

2023-10-30 04:50:30.306
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/codespace/.local/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [ ]:
st.header('_Pricing per car type_')

show_scatter = st.checkbox("Revisualize")

if show_scatter:
    type_price_scatter = px.scatter(
        cars,
        x="type",
        y="price",
        color="price"
    )
    st.plotly_chart(cars_scatter, theme="streamlit", use_container_width=True)
else:
    type_price_hist = px.histogram(
        cars,
        x="type",
        y="price",
    )
    st.plotly_chart(cars_hist, use_container_width=True)

DeltaGenerator()